@import "tailwindcss";

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

:root {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;

	font-weight: normal;
	word-wrap: break-word;

	--bg-main: #0a0a0a;
	--text: #b8b8b8;
	--accent: #3400ae;

	--bg-primary: #111111;
	--bg-primary-hover: #1a1a1a;

	--border: #2f2f2f;
	--border-hover: #4f4f4f;

	--bg-post: #1a1a1a;
	--post-button: #2a2a2a;
	--post-button-hover: #363636;

	color: var(--text);
	background-color: var(--bg-main);
	/*background:
	linear-gradient(120deg,purple);*/

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	min-width: 320px;
	min-height: 100vh;
}

button {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.liquid-glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.08) 0%,
		rgba(255, 255, 255, 0.012) 50%,
		rgba(255, 255, 255, 0.002) 100%
	);
	backdrop-filter: blur(20px);
}
